<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>File Name</th>
         <th>Date Uploaded</th>
         <th class="text-center">Status</th>
         <th colspan="3" class="text-center">Actions</th>
      </tr>
   </thead>
   
   <tbody>
      <% @pdf.each do |pdf| %>
         
         <tr>
            <td><%= pdf.name %></td>
            <td><%= pdf.created_at %></td>
            <td class="text-center"><span class="label label-primary">New</span></td>
            <td class="text-center"><%= button_to "Delete",  pdf, method: :delete, class: "btn btn-danger", disabled: "", confirm: "Are you sure that you wish to delete #{pdf.name}?" %></td>
            <td class="text-center"><%= link_to "Download File", pdf.attachment_url, class: "btn btn-default", target: "_blank" %> </td>
            <td class="text-center"><button class="btn btn-success">Mark Complete</button></td>
         </tr>
         
      <% end %>
   </tbody>
   
</table>

<%= link_to "New PDF File", new_pdfconvert_url , class: "btn btn-primary" %>
