<% if !@pdf.errors.empty? %>
   <div class = "alert alert-error">
      
      <ul>
         <% @pdf.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
      
   </div>
<% end %>

<div class = "col-md-6">
   <h4 class="text-center">Multiple File Upload</h4>
   <%= form_for @pdf, html: { multipart: true, class: "dropzone" } do |f| %>
   <% end %>
</div>

<div class = "col-md-6">
   <h4 class="text-center">Singe File Upload</h4>
   <%= form_for @pdf, html: { multipart: true, class: "form-group" } do |f| %>
      <%= f.label :attachment, class: "form-control" %>
      <%= f.file_field :attachment, class: "form-control" %>
      <%= f.submit "Save", class: "btn btn-primary", style: "margin-top: 20px" %>
   <% end %>
</div>

