<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<h1>EXCEL</h1>


<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>No</th>
         <th>Date Uploaded</th>
         <th>done?</th>
         <th colspan="4" class="text-center">Actions</th>
      </tr>
   </thead>
   
   <tbody>
      <% @pdfgets.each do |pdfget| %>
         <tr>
            <td><%= pdfget.id %></td>
            
            
            <td><%= pdfget.created_at.strftime("%m/%d") %></td>
            
            
            <td>
               <% if pdfget.status == "done" %>
               
               <div style="color:white; background-color:green;">
               <%= pdfget.status %>
            </div>
            <% else %>
            
               <div style="color:white; background-color:red;">
              not
            </div>
            
            <% end %>
            </td>
            
            
            
            
            
            
                 <td class="text-center">
                    <%= link_to "file", pdfget.attachment_url, class: "btn btn-default", target: "_blank" %>
                    </td>

           
           <td class="text-center">
            <%= link_to  "done", edit_pdfget_path(pdfget) , class: "btn btn-default" %>

           </td>

           <td class="text-center">
            <%= link_to  "delete", pdfget ,method: :delete, data: { confirm: "Are you sure？" }, class: "btn btn-default" %>
           </td>
           
       

         </tr>
         
         
      <% end %>
   </tbody>
   
</table>











<%= link_to "New Excel File", new_pdfget_url , class: "btn btn-primary" %>
